@model Personel

@{
    ViewData["Title"] = "Personel Sil";
}

<h1 class="text-danger">Personel Sil</h1>
<h4>Bu personeli silmek istediğinizden emin misiniz?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.AdSoyad)</dt>
    <dd class="col-sm-9">@Model.AdSoyad</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.DepartmanId)</dt>
    <dd class="col-sm-9">@Model.Departman!.Ad</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Pozisyon)</dt>
    <dd class="col-sm-9">@Model.Pozisyon</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Eposta)</dt>
    <dd class="col-sm-9">@Model.Eposta</dd>
</dl>

@* Silme GET ile degil, onayli POST ile yapilir (guvenlik geregi) *@
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
</form>
